*.egg
*.egg-info
*.mo
*.py[co]
.coverage
.installed.cfg
.mr.developer.cfg
bin
build
develop-eggs
dist
downloads
eggs
htmlcov/
local.cfg
parts
var
node_modules/
npm-debug.log
.idea
include/
lib/
share/
