*.egg
*.egg-info
*.mo
*.py[co]
*.mp4
.coverage
.installed.cfg
.installed.txt
.mr.developer.cfg
.python-version
local.cfg
bin
build
develop-eggs
dist
downloads
eggs
htmlcov/
instance/
local.cfg
parts
var
node_modules/
npm-debug.log
.idea
include/
lib/
share/
.idea
include/
lib/
share/
pip-selfcheck.json
pyvenv.cfg
lib64
.make-sentinels/
*-mxdev.txt
/venv
/.vscode/settings.json
