[buildout]
index = https://pypi.org/simple/
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg

show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    omelette
    releaser
    test

develop = .
package-name = collective.taxonomy
package-extras = [test]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    collective.taxonomy
    Products.PDBDebugMode
    pdbpp

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser[recommended]

[versions]
# Don't use a released version of collective.taxonomy
collective.taxonomy =
hurry.filesize = 0.9
pyjwt = 1.7.1
# For Buildout related packages, it is easiest to keep them at the same version for all environments.
# Keep these in sync with requirements.txt please:
setuptools = 42.0.2
wheel = 0.36.2
zc.buildout = 2.13.4

[versions:python27]
# Last pyrsistent version that is python 2 compatible:
pyrsistent = 0.15.7
