[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    versions-test-5.2.x.cfg
package-name = collective.taxonomy
package-extras = [dev,test]
package-min-coverage = 67
parts +=
  createcoverage
  code-analysis
  releaser
  zpretty
  zpretty-run

[instance]

zcml-additional =
  <configure xmlns="http://namespaces.zope.org/zope"
             xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="http://localhost:3000,http://127.0.0.1:3000"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header,Origin,Lock-Token"
    max_age="3600"
    />
  </configure>

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser[recommended]

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/collective/taxonomy
pre-commit-hook = False
flake8-ignore = E501,C901
debug-statements = True
deprecated-aliases = True
imports = True
prefer-single-quotes = True
return-status-codes = False
utf8-header = True

[zpretty]
recipe = zc.recipe.egg
eggs =
   zpretty

[zpretty-run]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    find src -name '*.zcml' | xargs bin/zpretty -i
output = ${buildout:directory}/bin/zpretty-run
mode = 755

[versions]
setuptools =
zc.buildout =
coverage = >=3.7
plone.app.robotframework = 1.5.0
six = 1.12
docutils = 0.16
configparser = 3.8.1
Pygments = 2.5.1
flake8 = 3.7.9
pycodestyle = 2.5.0
importlib-metadata = 1.0.0
plone.restapi = 
plone.rest = 2.0.0a1