exclude Makefile *.cfg *.in *.nix *.sh *.conf *.js *.json Procfile .jshintrc *-mxdev.txt .installed.txt *.yaml *.ini playwright-*.txt
global-exclude *.pyc
global-exclude *.yarn-integrity
global-exclude cypress.json
global-exclude cypress/**/*
global-exclude node_modules/**
global-exclude resources/**
include *.py
include *.rst
include *.txt
include .coveragerc
include buildout.cfg
recursive-include images *.gif
recursive-include docs *.GPL
recursive-include docs *.bugfix
recursive-include docs *.gif
recursive-include docs *.md
recursive-include docs *.png
recursive-include docs *.rst
graft src
