[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
#    https://raw.githubusercontent.com/plone/plone.app.mosaic/master/versions.cfg
    base.cfg

parts +=
    test
    code-analysis
    createcoverage

package-name = collective.taxonomy
package-extras = [test]
test-eggs =

[code-analysis]
flake8-ignore = E501,E241

[versions]
setuptools =
zc.buildout =
coverage = >=3.7
plone.app.robotframework = 1.5.0
# We no longer get a versions seperate from coredev buildout for these so have to upgrade them ourselves
robotframework-selenium2screenshots = 0.8.1
robotframework-selenium2library = 3.0.0
robotframework = 3.0.4
robotframework-seleniumlibrary = 3.2.0
robotsuite = 2.0.0
selenium = >=3.4.0
plone.recipe.codeanalysis = 2.3
