[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    base.cfg

[versions]
# Maybe just a problem with 3.3.0 on Maurits' Mac:
Pillow = 3.3.3
# plone.restapi now requires 'plone.schema>=1.2.1', but Plone 5.0 pins it to 1.1.0.
plone.schema = 1.2.1
