{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    ["@babel/plugin-transform-runtime", {
      "regenerator": false
    }],
    ["react-intl", {
      "messagesDir": "./build/messages/",
      "enforceDescriptions": false
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
