{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "no-redeclare": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "no-dupe-args": 2,
    "no-dupe-class-members": 2,
    "no-undef": 2,
    "object-curly-spacing": [2, "always"],
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing":  [1, "always"],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-multi-comp": 0,
    "semi": [2, "never"]
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__" : true,
    "expect": true,
  }
}
