
.icon-flow-split:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */